<h1>Editing Singlepostransaccionest</h1>

<%= render 'form', singlepostransaccionest: @singlepostransaccionest %>

<%= link_to 'Show', @singlepostransaccionest %> |
<%= link_to 'Back', singlepostransaccionests_path %>
