<h1>Editing Historypostransaccionest</h1>

<%= render 'form', historypostransaccionest: @historypostransaccionest %>

<%= link_to 'Show', @historypostransaccionest %> |
<%= link_to 'Back', historypostransaccionests_path %>
