<h1>Editing Ganadoresmegajackpot</h1>

<%= render 'form', ganadoresmegajackpot: @ganadoresmegajackpot %>

<%= link_to 'Show', @ganadoresmegajackpot %> |
<%= link_to 'Back', ganadoresmegajackpots_path %>
