<%= form_with(model: rondaruletat, local: true) do |form| %>
  <% if rondaruletat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rondaruletat.errors.count, "error") %> prohibited this rondaruletat from being saved:</h2>

      <ul>
      <% rondaruletat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
