
<p>Not allowed ok.</p>

<%if false%>

		<button id="btncolor" style='background-color: blue'  > EL BOTON DE COLOR </button></td>

		 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<audio id="sound1" src="../escopetadisparo.mp3" preload="auto"></audio>
		<audio id="sound2" src="../escopetavacia.mp3" preload="auto"></audio>
		<audio id="sound3" src="../escopetacargar.mp3" preload="auto"></audio>
		<audio id="sound4" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound5" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound6" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound7" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound8" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound9" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound10" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound11" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound12" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound13" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound14" src="../sonidoseleccion.mp3" preload="auto"></audio>
		<audio id="sound15" src="../sonidoseleccion.mp3" preload="auto"></audio>



		<div style= "width:800px;height:1300px;background-image: url('../br1.png'); width:100%; " > 
		<table>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>

			<tr>
				<td><button style= "width:2px;height:2px;" ></button></td> <td><button></button></td> <td><button></button></td> <td></td> <td><img src="../presionar.jpg" width="15" height="15"/></td>
			</tr>
		</table>



		</div>



		<div id="global_view">

		    <div id="arbustos">


				<table>

				<!--Primera fila de arbustos -->

				      <tr>
				        <td><button id="b01" onclick="sonidoytarget('img01')"> <img id="img01" src="../arbusto1.jpg" width="80" height="80"/> </button></td>
				        <td></td>
				        <td> <!--Ruleta img was here --> </td>
				        <td></td>
				        <td> <button onclick="presionarGatillo()"> <img src="../presionar.jpg" width="80" height="80"/> </button></td>
				      </tr>
				     
			     </table>
						
		    </div>
		 
		 <!--
		<img id="img02" src="../br1.png" width="600" height="600"/>
		  -->
		 

			<!-- btn disparo to avoid autoload sound block -->
			<button id="btndisparo" onclick="dispararbtn()"> </button></td>

			

		</div> <!-- Cierre del global div ted ok -->


		<!--hacer el render del form en un div no visible en el game -->

		<div id="div_formulario_ronda_ruletat" style="display:none;">
			
		   <%= render 'form', rondaruletat: @rondaruletat %>

		</div>





		<script type="text/javascript">   </script>

		<script type="text/javascript">
			 document.getElementById("img101").style.visibility = "true"; 
			 document.getElementById("img102").style.visibility = "true"; 

			// resetear posicion disparo en cero con este defatul value, si esta en cero escopeta no dispara, porque no hay ningun img01-10 selelcionado para disparar.
			document.getElementById('rondat_posiciondisparo').value=0; 
			var puede_disparar = false;
		//	window.onload="disparar()";
		 // <body onload="myFunction()"> 

		 //document.body.style.backgroundImage = '../br1.png';


		</script>


		<script type="text/javascript">

			function sonidoytarget(id_img){
				// play audio de seleccion
				document.getElementById('sound4').play();
		        
		        //hacer un repaint para limpiar.
		        for (var i = 1; i < 10; i++) {
		        	st = "img0" + String(i); 
		        	document.getElementById(st).src="../arbusto1.jpg";
		        }
		        //limpio la psocion numero 10 tambien ok.
		        document.getElementById('img10').src="../arbusto1.jpg";

				// setear imagen de target
				//document.getElementById(id_seleccion).play();
				document.getElementById(id_img).src="../target.png";
				
				//asignar la posicion de disparo actual del target para el formulario.
				document.getElementById('rondat_posiciondisparo').value=id_img;  // 'img09' por ejemplo
				 puede_disparar = true;
				
			}

			function presionarGatillo(){
				if (true) {

					
					setTimeout(function() {
						presionarGatillo();
					  //your code to be executed after x seconds
					 //document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; // esto envia el 
					// document.getElementById('sound4').play();
					}, 1100);
					//sobar sonido
				//	document.getElementById('sound3').play();
					
					//hacer delay esperar reproduccion de arriba y submit el  formulario.
								
				//	setTimeout(function() {
					  //your code to be executed after x seconds
				//	  document.getElementById('myform1ted').submit(); // esto envia el 
				//	}, 1000);  



					setTimeout(function() {
					  //your code to be executed after x seconds
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; // esto envia el 
					 document.getElementById('sound4').play();
					}, 0);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound5').play();
					}, 500 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; 
					 document.getElementById('sound6').play();
					}, 1000 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound7').play();
					}, 1500 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; 
					 document.getElementById('sound8').play();
					}, 2000 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound9').play();
					}, 2500 / 5);


					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; 
					 document.getElementById('sound10').play();
					}, 3000 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound11').play();
					},3500 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red';  
					 document.getElementById('sound12').play();
					}, 4000 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound13').play();
					},4500 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('btncolor').style.backgroundColor = 'red'; // = 'red'; 
					 document.getElementById('sound14').play();
					}, 5000 / 5);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					  document.getElementById('btncolor').style.backgroundColor = 'blue'; 
					 document.getElementById('sound15').play();
					},5500 / 5);


				





				}else {

					document.getElementById('sound2').play();
				}


		      

			 } // fin funcion presionarGatillo

		     function disparar(){
			
				//sobar sonido
				document.getElementById('sound1').play();
			 } // fin funcion disparar
		 
		    function dispararbtn(){
			
				//sobar sonido
				document.getElementById('sound1').play();
			 } // fin funcion disparar
		 


		   	/**
				var counter = 1;

				function start(counter){
				  if(counter < 10){
				    setTimeout(function(){
				      counter++;
				      console.log(counter);
				      document.getElementById('sound4').play();
				      
				      start(counter);
				    }, 500);
				  }
				}
				start(0);
		    **/
		 
		</script>


			

		<!-- 

			<body onload="disparar();"> </body>


		<img id="img02" src="../br1.png" width="600" height="600"/>

		<body onload="document.getElementById('btndisparo').click();"> </body>





		/** Antigua funcion gatillo con efecto sonido bergmann r. ok ted. test only




					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound4').play();
					}, 50);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound5').play();
					}, 100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound6').play();
					}, 150);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound7').play();
					}, 200);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound8').play();
					}, 250);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound9').play();
					}, 300);


					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound4').play();
					}, 360+100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound5').play();
					},420+100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound6').play();
					}, 480+100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound7').play();
					},540+100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound8').play();
					}, 610+100);

					setTimeout(function() {
					  //your code to be executed after x seconds
					 // document.getElementById('myform1ted').submit(); // esto envia el 
					 document.getElementById('sound9').play();
					}, 680+100);


				



		 **/

		-->
<%end%>